<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Textile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>32</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>So you can take a photo and store it in the secure Textile cloud.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use location changes to trigger auto-uploading of your photos.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use location changes to trigger auto-uploading of your photos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use location changes to trigger auto-uploading of your photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>So you can pick photos to store in the secure Textile cloud.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Feather.ttf</string>
		<string>Degarism Studio - Biotif-Black.ttf</string>
		<string>Degarism Studio - Biotif-BlackItalic.ttf</string>
		<string>Degarism Studio - Biotif-Bold.ttf</string>
		<string>Degarism Studio - Biotif-BoldItalic.ttf</string>
		<string>Degarism Studio - Biotif-Book.ttf</string>
		<string>Degarism Studio - Biotif-BookItalic.ttf</string>
		<string>Degarism Studio - Biotif-ExtraBold.ttf</string>
		<string>Degarism Studio - Biotif-ExtraBoldItalic.ttf</string>
		<string>Degarism Studio - Biotif-Light.ttf</string>
		<string>Degarism Studio - Biotif-LightItalic.ttf</string>
		<string>Degarism Studio - Biotif-Medium.ttf</string>
		<string>Degarism Studio - Biotif-MediumItalic.ttf</string>
		<string>Degarism Studio - Biotif-Regular.ttf</string>
		<string>Degarism Studio - Biotif-RegularItalic.ttf</string>
		<string>Degarism Studio - Biotif-SemiBold.ttf</string>
		<string>Degarism Studio - Biotif-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
